{% extends "sebo/template.html" %}
{% block content %}
<section class="section">
  <div class="section container is-desktop">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="content">
          <h1 class="title">Novo livro à venda</h1>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.non_field_errors }}
            {% for field in form %}
            <div class="field">
              <label class="label" for="{{ field.id_for_label}}">{{ field.label }}</label>

              <div class="control">
                {{ field }}
              </div>
              <p class="help">
                {{field.help_text}}
              </p>
              {% if field.errors %}
              <p class="help is-danger">{{ field.errors }}</p>
              {% endif %}

            </div>
            {% endfor %}
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary">Cadastrar Livro</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
