<!DOCTYPE html>
<html>
  {% load static %}
  <title>{{title}}</title>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% block pre_content %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </body>
</html>
