{% extends "sebo/template.html" %}
{% block content %}
{% load sebo_tags %}
<section class="section">
  <div class="section container is-desktop">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="content">
          {% if resultado_busca %}
          <h1>{{qtd_livros_encontrados}} Livro(s) encontrado(s)</h1> {% for livro in resultado_busca %}
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  {% if livro.foto %}
                  <img src="{{livro.foto.url}}">

                  {% else %}
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                  {% endif %}
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><a href="{{livro.get_absolute_url}}">{{livro.nome}}</a></strong>
                    <br/> {{livro.nome_autores}}
                    <br/>
                    <small>
                          {% if livro.ano %}<strong>Ano</strong>: {{livro.ano}}{% endif %}
                          <br/>
                          {{livro.descricao}}
                        </small>
                  </p>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}
          {% else %}
          <h1 class="has-text-centered">Nenhum livro encontrado</h1>
          {% endif %}

        </div>
        {% if resultado_busca.has_other_pages %}
        <nav class="pagination" role="navigation" aria-label="pagination">
          {% if resultado_busca.has_previous %}
          <a href="?{% url_replace page=resultado_busca.previous_page_number %}" class="pagination-previous">Anterior</a>
          {% endif %}
          {% if resultado_busca.has_next %}
          <a href="?{% url_replace page=resultado_busca.next_page_number %}" class="pagination-next">Próximo</a>
          {% endif %}

          <ul class="pagination-list">
            {% for i in resultado_busca.paginator.page_range %}
            <li>
              <a href="?{% url_replace page=i %}"class="pagination-link {% if i == resultado_busca.number %}is-current{%endif%}" aria-label="Ir para a página {{i}}">{{i}}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</section>

{% endblock %}
