{% extends "sebo/template.html" %}
{% block content %}
{% load sebo_tags %}
<section class="section">
  <div class="section container is-desktop">
    <div class="columns">
      <div class="column is-three-fifths is-offset-1">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              {% if livro.foto %}
              <img src="{{livro.foto.url}}">

              {% else %}
              <img src="https://bulma.io/images/placeholders/128x128.png">
              {% endif %}
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h2>{{livro.nome}}</h2> {% if livro.nome_autores %} {{ livro.nome_autores}} <br/>{% endif %}
              <small>
                  {% if livro.qtd_paginas %}<strong>Páginas</strong>: {{livro.qtd_paginas}} <br/>{% endif %}
                  {% if livro.ano %}<strong>Ano</strong>: {{livro.ano}} <br/>{% endif %}
                  <strong>Atualizado em</strong>: {{livro.atualizado_em}}<br/>
                  <strong>Descrição</strong>: {{livro.descricao|linebreaks}}
                  </small>
            </div>
          </div>
        </article>
      </div>
      <div class="column">
        <div class="content">
          <h2>{{ livro.preco|formatar_moeda }}<h2>
          <p><a class="button is-danger is-large">Comprar</a></p>
          <h4>Sobre o Vendedor</h4>
          <p><a href="{{livro.vendedor.get_absolute_url}}">{{livro.vendedor.nome}}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
