<form action="/search" method="get">
  <div class="field has-addons has-addons-centered">
    <div class="control">
      {{search_form.q}}
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">Pesquisar</button>
    </div>
  </div>
</form>
