{% extends "sebo/base_template.html" %}

{% block pre_content %}
{% include "sebo/nav.html"%}
{% endblock %}

{% block content %}

<section class="hero is-fullheight is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Milhares de livros novos e usados</h1>
      <form action="/search" method="get">
        <div class="field has-addons has-addons-centered">
          <div id="index-search-container" class="control">
            {{search_form.q}}
            <!--<input class="input is-medium" type="text" placeholder="ll"> -->
          </div>
          <div class="control">
            <button id="bt-procurar" type="submit" class="button is-primary is-medium">
              Procurar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
