{% load static %}
{% load sebo_tags %}
<nav class="navbar is-fixed-top {{nav_classes}}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{% static 'images/scholarship.png' %}">
    </a>

    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      {% if nav_search %}
      <div class="navbar-item">
        <p class="control">
            {% show_book_search_nav %}
        </p>
      </div>
      {% endif %}
      <div class="navbar-item">
        {% if not user.is_authenticated %}
        <p class="control">
          <a class="button is-white" href="{% url 'conta:login' %}">
            Entrar
          </a>
        </p>
      </div>

      <div class="navbar-item">
        <p class="control">
          <a class="button is-success" href="{% url 'conta:cadastrar_se' %}">
            Cadastrar-se
          </a>
        </p>
      </div>
      {% else %}
      <div class="navbar-item">
        <p>
          <a class="button is-white" href="{% url 'sebo:detalhes_vendedor' slug=user.vendedor.slug %}">Meus livros</a>
        </p>
      </div>
      <div class="navbar-item">
        <p>
          <a class="button is-danger" href="{% url 'sebo:vender_livro' slug=user.vendedor.slug %}">Vender um livro</a>
        </p>
      </div>
      <div class="navbar-item">
        <p>
          <a class="button" href="{% url 'conta:logout' %}">Sair</a>
        </p>
      </div>


      {% endif %}

    </div>

  </div>
</nav>
