{% extends "sebo/template.html" %}
{% load static %}
{% load sebo_tags %}
{% block content %}
{% if eh_o_dono_visualizando and not qtd_livros %}
<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-128x128" style="margin-left: auto; margin-right: auto; margin-bottom: 16px">
        <img src="{%static 'images/sad.png' %}"/>
      </figure>
      <h1 class="title">Você não tem nenhum livro à venda</h1>
      <a class="button is-danger" href="{%url 'vendedor:vender_livro' slug=user.vendedor.slug %}">Quero vender um livro</a>
    </div>
  </div>
</section>
{% elif qtd_livros %}
<section class="section">
  <div class="section container is-desktop">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="content">
          <h1>{{vendedor.nome}}</h1>
          <strong>Cadastrado em</strong>: {{vendedor.cadastrado_em|date:'d/m/Y'}}
          <br/> {% if vendedor.sobre %} {{vendedor.sobre|linebreaks}} {% endif %}
          {% if qtd_livros %}
          <h2>Livros</h2>
          {% for livro in livros %}
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  {% if livro.foto %}
                  <img src="{{livro.foto.url}}">
                  {% else %}
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                  {% endif %}
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><a href="{{livro.get_absolute_url}}">{{livro.nome}}</a></strong>
                    <br/> {{livro.nome_autores}}
                    <br/>
                    <small>
                          {% if livro.ano %}<strong>Ano</strong>: {{livro.ano}}{% endif %}
                          <br/>
                          {{livro.descricao}}
                        </small>
                  </p>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}

        {%endif %}
        </div>
        {% if livros.has_other_pages  %}
        <nav class="pagination" role="navigation" aria-label="pagination">
          {% if livros.has_previous %}
          <a href="?{% url_replace page=livros.previous_page_number %}" class="pagination-previous">Anterior</a>
          {% endif %}
          {% if livros.has_next %}
          <a href="?{% url_replace page=livros.next_page_number %}" class="pagination-next">Próximo</a>
          {% endif %}

          <ul class="pagination-list">
            {% for i in livros.paginator.page_range %}
            <li>
              <a href="?{% url_replace page=i %}"class="pagination-link {% if i == livros.number %}is-current{%endif%}" aria-label="Ir para a página {{i}}">{{i}}</a>
            </li>
            {% endfor %}
          </ul>

        </nav>
        {% endif %}

      </div>
    </div>
  </div>
</section>
{% else %}
<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-128x128" style="margin-left: auto; margin-right: auto; margin-bottom: 16px">
        <img src="{%static 'images/sad.png' %}"/>
      </figure>
      <h1 class="title">Nenhum livro à venda</h1>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
