.nav-header {
  border-bottom-color: #f2f2f2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 993px) {
  #index-search-container input[type="text"] {
    width: 600px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #index-search-container input[type="text"] {
    width: 500px;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #index-search-container input[type="text"] {
    width: 400px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
