{% extends "sebo/template.html" %}

{% block content %}
    <section class="section">
      <div class="section container is-desktop">
        <div class="columns">
          <div class="column is-one-third is-offset-4">
            <div class="content">
              <h1>Inscreva-se gratuitamente</h1>
              <form method="post">
                {% csrf_token %}
                <p class="help is-danger">
                {% for error in form.non_field_errors %}
                {{error}}<br/>
                {% endfor %}
                </p>
                {% for field in form %}
                <div class="field">
                  {{ field.label_tag }}

                  <div class="control">
                    {{ field }}
                  </div>
                  <p class="help is-danger">
                    {% for error in field.errors %}
                      {{ error }}<br/>
                    {% endfor %}
                  </p>

                </div>
                {% endfor %}
                <div class="field">
                  <div class="control">
                    <button type="submit" class="button is-danger">Cadastrar-se</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

    </section>
{% endblock %}
